src/main/mule/employees.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="employees-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="employees-config" api="employees.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="d5ebead9-7876-4da5-b1cf-ef905a8ecac7" >
		<http:request-connection host="localhost" port="8088" />
	</http:request-config>
	<http:request-config name="HTTP_Request_configuration1" doc:name="HTTP Request configuration" doc:id="0926a115-421d-4266-b74d-e3d9767babd4">
		<http:request-connection host="localhost" port="8088" />
	</http:request-config>
	<http:request-config name="HTTP_Request_configuration2" doc:name="HTTP Request configuration" doc:id="9a4d628b-572b-497a-b8b6-93fcf2122428" >
		<http:request-connection host="localhost" port="8088" />
	</http:request-config>
	<flow name="employees-main">
        <http:listener config-ref="employees-httpListenerConfig" path="/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="employees-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="employees-console">
        <http:listener config-ref="employees-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="employees-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\(id):application\json:employees-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="put:\(id):application\json:employees-config" />
    </flow>
    <flow name="delete:\(id):employees-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\(id):employees-config" />
    </flow>
    <flow name="get:\:employees-config">
        <http:listener doc:name="Listener" doc:id="4e277546-d671-484f-84c1-6a31a49819e0" config-ref="employees-httpListenerConfig" path="/*"/>
		<http:request method="GET" doc:name="Request" doc:id="62a0e9d8-3072-4e67-b502-e094b2811670" config-ref="HTTP_Request_configuration" path="/api/employees"/>
		<logger level="INFO" message="get:\:employees-config" />
    </flow>
    <flow name="get:\(id):employees-config">
        <http:listener doc:name="Listener" doc:id="dc2cd68f-2398-48b4-8f28-3aa7249f76c0" config-ref="employees-httpListenerConfig" path="/*"/>
        <http:request method="GET" doc:name="Request" doc:id="8fa74233-62b5-4eb4-938c-235f68f9a36c" config-ref="HTTP_Request_configuration1" path="/api/employees/{id}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"id" : id
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" message="get:\(id):employees-config" />
    </flow>
    <flow name="get:\(id)\func\convert-dollar:employees-config">
        <http:listener doc:name="Listener" doc:id="65589bf5-13ae-4208-8e2c-cae356d71e1e" config-ref="employees-httpListenerConfig" path="/{id}"/>
		<ee:transform>
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\(id)\func\convert-dollar:employees-config" />
    </flow>
    <flow name="get:\(id)\func\convert-euro:employees-config">
        <http:listener doc:name="Listener" doc:id="bb30835d-cfdd-4f1b-96ea-645ba18b7920" config-ref="employees-httpListenerConfig" path="/{id}/func/convert-euro"/>
        <http:request method="GET" doc:name="Request" doc:id="f0c93a6f-9825-4759-806a-15ab7388fcca" config-ref="HTTP_Request_configuration2" path="/api/employees/{id}/func/convert-euro">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	id : id
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" message="get:\(id)\func\convert-euro:employees-config" />
    </flow>
    <flow name="post:\:application\json:employees-config">
        <logger level="INFO" message="post:\:application\json:employees-config" />
    </flow>
</mule>
